# Order is important; the last matching pattern takes the most precedence.

* @jcollins-axway @dfeldickgit @sbolosan @vivekschauhan

#[SEcURITY]
 # .security-profile.json requires SPOC approval for any modifications
.security-profile.json @dfeldickgit @jcollins-axway @vivekschauhan
renovate.json @dfeldickgit

#[CICD]
# cicd-related files
.gitlab-ci.yml @dfeldickgit @jcollins-axway @vivekschauhan
Makefile @dfeldickgit @jcollins-axway @vivekschauhan
build/scripts/ @dfeldickgit @jcollins-axway @vivekschauhan
.github/** @dfeldickgit @jcollins-axway @vivekschauhan

#[EXPERT]
/client/** @jcollins-axway @vivekschauhan
/discovery/** @jcollins-axway @vivekschauhan
/traceability/** @jcollins-axway @vivekschauhan
