###############################################################
# WhiteSource Unified-Agent configuration file
go.resolveDependencies=false
go.modules.resolveDependencies=true

###########################################################################################
# Includes/Excludes Glob patterns - Please use only one exclude line and one include line #
###########################################################################################
includes=**/*.go go.mod

excludes=**/*_test.go

wss.url=https://axway.whitesourcesoftware.com/agent
