name: Traceability Agent Docker

on:
  push:
    tags:
      - "*"

jobs:
  buildtraceabilityAgentDocker:
    env:
      GOFLAGS: "-mod=mod"
      GOWORK: "off"
      IMAGE_NAME: apigee_traceability_agent
      ORG_NAME: Axway
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Create commit_id & version files
        working-directory: traceability
        run: |
          git branch --show-current > commit_id
          echo "${{ github.ref }}" > version

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          flavor: latest=false
          images: ghcr.io/${{ env.ORG_NAME }}/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: traceability/docker/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
