name: Build Apigee Discovery Agent

on:
  push:
    branches: [main, "APIGOV-*"]

jobs:
  testDiscoveryAgent:
    env:
      GOFLAGS: "-mod=mod"
      GOWORK: "off"
    defaults:
      run:
        working-directory: ${{ env.GOPATH }}/discovery
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: Test discovery agent
        working-directory: discovery
        run: go test -race -v ./...

  buildDiscoveryAgent:
    env:
      GOFLAGS: "-mod=mod"
      GOWORK: "off"
    defaults:
      run:
        working-directory: ${{ env.GOPATH }}/discovery
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: Build discovery agent
        working-directory: discovery
        run: |
          git fetch --all --tags 
          git branch --show-current > commit_id
          git tag -l --sort='version:refname' | grep -Eo '[0-9]{1,}\.[0-9]{1,}\.[0-9]{1,3}$' | tail -1 > version
          make build

      - uses: actions/upload-artifact@v3
        with:
          name: apigee_discovery_agent
          path: discovery/bin/apigee_discovery_agent
